footer .footer_inner, .main_inner .season_flower .season, .main_inner .nav_open .nav_inner {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: "MYYeongnamnu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "S-CoreDream-3Light";
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  min-width: 390px;
  margin: auto;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  background: transparent;
  z-index: 11;
  transition: 0.3s ease-in;
}
header .header_inner {
  font-family: "MYYeongnamnu";
  height: 56px;
}
header .header_inner h1 {
  width: 120px;
  text-align: center;
  margin: auto;
  line-height: 56px;
  font-size: 2em;
  font-weight: bold;
}

/* main */
.main_inner {
  width: 100%;
}
.main_inner .nav .nav_btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: #000 url("../img/icon/open.png") no-repeat center center/38px 38px;
  z-index: 10;
}
.main_inner .nav_open {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  color: #FFF;
  z-index: 10;
}
.main_inner .nav_open .nav_inner {
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
}
.main_inner .nav_open .nav_inner .nav_menuLeft img, .main_inner .nav_open .nav_inner .nav_menuRight img {
  width: 100px;
}
.main_inner .nav_open .nav_inner .nav_menu > li {
  margin: 50px 0;
  text-align: center;
}
.main_inner .nav_open .nav_inner .nav_menu > li > a {
  font-size: 1.1em;
}
.main_inner .nav_open .nav_inner .nav_menu > li .nav_subMenu > li {
  margin: 20px 0 -10px;
}
.main_inner .nav_open .nav_inner .nav_menu > li .nav_subMenu > li > a {
  color: #767676;
  font-size: 0.9em;
}
.main_inner .nav_open .nav_close .nav_closeBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: #FFF url("../img/icon/close.png") no-repeat center center/38px 38px;
  z-index: 100;
}
.main_inner .main_visual {
  width: 100%;
  height: 100vh;
  border-radius: 0;
  background: url("../img/main/main_5.jpg") fixed center/cover;
}
.main_inner .season_flower {
  width: 100%;
  padding: 50px 70px;
}
.main_inner .season_flower .season {
  align-items: center;
  height: 200px;
}
.main_inner .season_flower .season .season_img {
  width: 50%;
}
.main_inner .season_flower .season .season_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_inner .season_flower .season .season_color1 {
  width: 50%;
  height: 100%;
  background: #EBADCD;
}
.main_inner .season_flower .season .season_color2 {
  width: 50%;
  height: 100%;
  background: #F1D152;
}
.main_inner .season_flower .season .season_color3 {
  width: 50%;
  height: 100%;
  background: #8D9D66;
}
.main_inner .season_flower .season .season_color4 {
  width: 50%;
  height: 100%;
  background: #ACC3E4;
}

/* footer */
footer {
  width: 100%;
  padding: 50px 70px;
  background: #000;
}
footer .footer_inner {
  align-items: center;
}
footer .footer_inner .footer_left {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
footer .footer_inner .footer_left h1 {
  font-family: "MYYeongnamnu";
  font-size: 1.8em;
  font-weight: bold;
  color: #FFF;
}
footer .footer_inner .footer_left p {
  font-size: 0.9em;
  color: #b7b7b7;
}
footer .footer_inner .footer_right {
  display: flex;
  justify-content: center;
}
footer .footer_inner .footer_right form {
  border-bottom: 1px solid #FFF;
}
footer .footer_inner .footer_right form .footer_emailInput {
  width: 250px;
  padding-bottom: 10px;
  background: transparent;
  outline: none;
  caret-color: #FFF;
}
footer .footer_inner .footer_right form .footer_emailInput::placeholder {
  color: #b7b7b7;
}
footer .footer_inner .footer_right form .footer_btn {
  background: transparent;
  color: #FFF;
  font-size: 1.3em;
}

/*# sourceMappingURL=main.css.map */
