.main {
  background: $main-color;

  section {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    font-family: 'MYYeongnamnu';
    color: $sub-color;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    width: 80%;
    margin: 800px auto 0;
    padding: 0 100px;
    
    & > span {
      font: {
        size: clamp(80px, 20vw, 200px);
        weight: 700;
      }
    }
    & > p {
      padding: 0 20px;
    }
    &.brand_producer {
      margin-bottom: 200px;

      h1 {
        margin-bottom: -20px;
      }
    }
    .content{
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      column-gap: 30px;

      .contentImg, .contentText {
        flex: 1;
      }
      .contentText{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        text-align: left;
      }
    }
    img{
      @extend %img_cover;
    }
    h1 {
      width: 100%;
      font: {
        weight:bold;
        size:30px;
      }
    }
    p {
      width: 100%;
      font: {
        weight: 400;
        size: 16px;        
        family: "S-CoreDream-3Light";
      }
      line-height: 30px;
    }
  }
}

@media (max-width: 1023px) {
  .main {
    section {
      width: 100%;
      padding: 0 50px;

      .content {
        flex-direction: column;
        row-gap: 30px;

        &.content2 {
          flex-direction: column-reverse;
        }
        .contentText {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main {
    section {
      h1 {
        font: {
          size:30px;
        }
      }
      p {
        font: {
          size: 14px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    section {
      padding: 0;

      h1 {
        font: {
          size: 25px;
        }
      }
      .content {
        .contentText {
          padding: 0 20px;
        }
      }
    }
  }
}