body{
  font-family: 'S-CoreDream-3Light';
}
img {
  width: 100%;
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  min-width: 390px;
  margin: auto;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  background: transparent;
  z-index: 11;

  .header_inner {
    font-family: 'MYYeongnamnu';
    height: 56px;

    &.open {
      color: $main-color;
    }
    h1 {
      width: 120px;
      text-align: center;
      margin: auto;
      line-height: 56px;
      font-size: 2em;
      font-weight: bold;
    }
  }
}

/* main */
.main_inner {
  width: 100%;

  .nav {
    .nav_btn {
      @include set-box(48px, 48px, 50%);
      position: fixed;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background: $sub-color url('../img/icon/open.png') no-repeat center center / 38px 38px;
      z-index: 10;
    }
  }
  .nav_open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.3s;
    z-index: -10;
    transition: opacity 1s cubic-bezier(0.2, 0.8, 0.4, 1);
    opacity: 0;

    &.open {
      background: $sub-color;
      color: $main-color;
      z-index: 10;
      transition: 1s cubic-bezier(0.2, 0.8, 0.4, 1);
      opacity: 1;
    }
    .nav_inner {
      @extend %double;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 55%;

      .nav_menuLeft, .nav_menuRight {
        img {
          width: 100px;
        }
      }
      .nav_menu {
        & > li {
          margin: 50px 0;
          text-align: center;

          & > a {
            font-size: 1.1em;
          }
          .nav_subMenu > li {
            margin: 20px 0 -10px;

            & > a {
              color: $gray2;
              font-size: 0.9em;
            }
          }
        }
      }
    }
    .nav_close {
      .nav_closeBtn {
        @include set-box(48px, 48px, 50%);
        position: fixed;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        background: $main-color url('../img/icon/close.png') no-repeat center center / 38px 38px;
        z-index: 100;
      }
    }
  }
  .main_visual {
    @include set-box(100%, 98vh);
    background: url('../img/main/main_5.jpg') fixed center / cover;
  }
  .season_flower {
    width: 100%;
    background: url('../img/main/main_5.jpg') fixed center / cover;

    .season {
      display: flex;
      height: 614px;
      padding: 0 20px;
      
      .season_img {
        @include set-box(50%);
        background: {
          position: center;
          size: cover;
        }
        border-radius: 8px 0 0 0;

        &.season_img1 {
          background-image: url('../img/season/spring_lilac.jpg');
        }
        &.season_img2 {
          background-image: url('../img/season/summer_sunflower.jpg');
        }
        &.season_img3 {
          background-image: url('../img/season/fall_cosmos.jpg');
        }
        &.season_img4 {
          background-image: url('../img/season/winnter_dendrobium.jpg');
        }
      }
      .season_color {
        @include set-box(50%);
        border-radius: 0 8px 0 0;

        &.season_color1 {
          background: #E6A9C9;
        }
        &.season_color2 {
          background: #F1D152;
        }
        &.season_color3 {
          background: #8D9D66;
        }
        &.season_color4 {
          background: #ACC3E4;
        }
      }
    }
  }
}

/* footer 
footer {
  width: 100%;
  padding: 50px 70px;
  background: $sub-color;

  .footer_inner {
    @extend %double;
    align-items: center;

    .footer_left {
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      h1 {
        font-family: 'MYYeongnamnu';
        font-size: 1.8em;
        font-weight: bold;
        color: $main-color;
      }
      p {
        font-size: 0.9em;
        color: $gray3;
      }
    }
    .footer_right {
      display: flex;
      justify-content: center;

      form {
        border-bottom: 1px solid $main-color;

        .footer_emailInput {
          width: 250px;
          padding-bottom: 10px;
          background: transparent;
          outline: none;
          caret-color: $main-color;

          &::placeholder {
            color: $gray3;
          }
        }
        .footer_btn {
          background: transparent;
          color: $main-color;
          font-size: 1.3em;
        }
      }
    }
  }
}
*/

@media (max-width: 1023px) {
  .main_inner {
    .season_flower {
      .season {
        flex-direction: column;
        
        .season_img {
          @include set-box(100%, 50%);
          border-radius: 8px 8px 0 0;
        }
        .season_color {
          @include set-box(100%, 50%);
        }
      }
    }
  }
}

@media (max-width: 767px) {

}