html, body{
  position: relative;
  height: 100%;
  margin: 0;
  font-family: 'S-CoreDream-3Light';
}
img {
  width: 100%;
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  min-width: 390px;
  margin: auto;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  background: transparent;
  z-index: 11;
  transition: 0.3s ease-in;

  &.down {
    background: $white;
  }
  .header_inner {
    font-family: 'MYYeongnamnu';
    height: 56px;

    &.open {
      color: $white;
    }
    h1 {
      width: 120px;
      text-align: center;
      margin: auto;
      line-height: 56px;
      font-size: 2em;
      font-weight: bold;
    }
  }
}

/* main */
.main_inner {
  width: 100%;

  .nav {
    .nav_btn {
      @include set-box(48px, 48px, 50%);
      position: fixed;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background: $white url('../img/icon/noun-nature-6193660.svg') no-repeat center center / 48px 48px;
      z-index: 10;
    }
  }
  .nav_open{
    @include set-box(100vw, 100vh);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: -10;
    opacity: 0;

    &.open {
      background: $black;
      color: $white;
      z-index: 10;
      transition: opacity 1s cubic-bezier(0.2, 0.8, 0.4, 1);
      opacity: 1;
    }
    .nav_inner {
      @extend %double;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;

      .nav_menuLeft, .nav_menuRight {
        img {
          width: 150px;
        }
      }
      .nav_menu {
        & > li {
          margin: 50px 0;
          text-align: center;

          & > a {
            font-size: 1.1em;
          }
          .nav_subMenu > li {
            margin: 20px 0 -10px;

            & > a {
              color: $gray2;
              font-size: 0.9em;
            }
          }
        }
      }
    }
    .nav_close {
      .nav_closeBtn {
        @include set-box(48px, 48px, 50%);
        position: fixed;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        background: $white url('../img/icon/noun-ornament-707222.svg') no-repeat center center / 48px 48px;
        z-index: 100;
      }
    }
  }
  .main_visual {
    @include set-box(100%, 100vh);
    background: url(../img/main/main_5.jpg) fixed center / cover;
  }
  .main_content {
    width: 100%;

    & > div {
      width: 100%;

      h2 {
        padding: 70px 70px 20px;
        font: {
          size: 1.8em;
          weight: 700;
        }
      }
      h3 {
        padding: 0 70px 40px;
        font: {
          size: 1.2em;
          weight: 500;
        }
        color: $gray2;
      }
      .main_contentDictionary {
        .month_flower {
          .swiper-slide {
            img {
              border-radius: 8px;
            } 
          }
        }
      }
      .main_contentExhibit {
        @extend %double;
        column-gap: 30px;
        padding: 0 70px;
        
        .flower_exhibition, .flower_exposition {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 20px;

          span {
            font-size: 1.1em;
          }
        }
      }
      .main_contentFlowerClass {
        .flower_class {
          position: relative;
          width: 100%;
          line-height: 200px;
          background: linear-gradient(rgba(255, 255, 255, 0) 10%, rgb(255, 255, 255)), url('../img/main/class_pc.png') center center / cover no-repeat;

          &::before {
            @include set-box(100%);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.7);
          }

          span {
            color: $white;
            font-size: 2em;
          }
        }
        .flower_diyclass {
          display: flex;
          column-gap: 30px;
          padding: 0 90px;
          background: rgba(0, 0, 0, 0.7);

          & > div {
            width: 25%;

            img {

            }
          }
        }
      }
      .main_contentBrand {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 20px;
        padding: 50px 120px;

        & > p {
          font: {
            family: 'MYYeongnamnu';
            size: 3em;
            weight: 700;
          }
        }
        span {
          line-height: 30px;
          font: {
            size: 0.9em;
            weight: 600;
          }
        }
      }
    }
  }
}

/* footer 
footer {
  width: 100%;
  padding: 50px 70px;
  background: $black;

  .footer_inner {
    @extend %double;
    align-items: center;

    .footer_left {
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      h1 {
        font-family: 'MYYeongnamnu';
        font-size: 1.8em;
        font-weight: bold;
        color: $white;
      }
      p {
        font-size: 0.9em;
        color: $gray3;
      }
    }
    .footer_right {
      display: flex;
      justify-content: center;

      form {
        border-bottom: 1px solid $white;

        .footer_emailInput {
          width: 250px;
          padding-bottom: 10px;
          background: transparent;
          outline: none;
          caret-color: $white;

          &::placeholder {
            color: $gray3;
          }
        }
        .footer_btn {
          background: transparent;
          color: $white;
          font-size: 1.3em;
        }
      }
    }
  }
}
*/

@media (max-width: 1023px) {
  .main_inner {
    .nav_open {
      .nav_inner {
        .nav_menuLeft, .nav_menuRight {
          img {

          }
        }
      }
    }
    .main_content {
      width: 100%;
  
      & > div {
        h2 {
          font: {
            size: 1.5em;
          }
        }
        h3 {
          font: {
            size: 1.1em;
          }
        }
        .main_contentDictionary {
          .month_flower {
            .swiper-slide {
              img {
                // @include set-box(100%, 20vh, 8px);
                // object-fit: cover;
              } 
            }
          }
        }
        .main_contentExhibit {
          .flower_exhibition, .flower_exposition {
            span {
              font-size: 0.9em;
            }
          }
        }
        .main_contentFlowerClass {
          .flower_class {
            line-height: 150px;
            background: linear-gradient(rgba(255, 255, 255, 0) 10%, rgb(255, 255, 255)), url('../img/main/class_mo.png') center center / cover no-repeat;
          }
        }
        .main_contentBrand {

        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main_inner {
    .nav_open {
      .nav_inner {
        justify-content: center;

        .nav_menuLeft, .nav_menuRight {
          display: none;
        }
      }
    }
    .main_content {  
      & > div {
        h2 {
          padding: 50px 40px 20px;
          font: {
            size: 1.4em;
          }
        }
        h3 {
          padding: 0 40px 30px;
          font: {
            size: 0.9em;
          }
        }
        .main_contentDictionary {
          .month_flower {
            .swiper-slide {
              img {

              } 
            }
          }
        }
        .main_contentExhibit {
          column-gap: 20px;
          padding: 0 40px;
          
        }
        .main_contentFlowerClass {
          .flower_class {
            height: 100px;
            span {
              font-size: 1em;
            }
          }
          .flower_diyclass {
            column-gap: 10px;
            padding: 0 50px;
          }
        }
        .main_contentBrand {

        }
      }
    }
  }
}